/*
  place custom CSS definitions into this file to override Bootstrap
*/



/*
body{
    font-size: 12pt;
}
table{
    font-size: 22px;
    color: #ff0000;
}

table td.gender {
    color: #00ff00;
}
*/

