{extends layout.latte}

{block title}Add people to meeting{$id_meeting}{/block}

{block body}

<div class="container">
    <h1>Meeting</h1>
    <form method="post" action="{link addPersonMeeting}?id_meeting={$meeting['id_meeting']}&id_person={$p['id_person']}" >

        <select name="person" class="form-control">
            <option value="">person</option>
            {foreach $people as $p}
                    {if $p['id_person'] == $form['person']}
            <option value="{$p['id_person']}" selected>
                {$p['first_name']} {$p['last_name']}
            </option>
            {else}
            <option value="{$p['id_person']}">
                {$p['first_name']} {$p['last_name']}
            </option>
            {/if}
                {/foreach}
        </select>

        <button type="submit" class="btn btn-primary">
            <a class="fa fa-save">
                SUBMIT
            </a>
        </button>
    </form>
</div>