{extends layout.latte}

{block title}Persons{/block}

{block body}

   {*} <form action="{link contact}">

        <div class="row">
            <div class="offset-7 col-3">

                <input type="text" name="search" class="form-control">

            </div>
            <div class="col-2">

                <button type="submit" class="btn btn-primary btn-block">
                    <i class="fa fa-search"></i>
                    SEARCH
                </button>

            </div>
        </div>

    </form> {*}

    <table class="table table-striped">
        <tr>
            <th>NAME</th>
            <th>TYPE</th>
            <th>CONTACT</th>
        </tr>
        {foreach $contact as $c}
            <tr>
                <td>{$c['first_name']} {$c['last_name']}</td>
                <td>{$c['name']}</td>
                <td>{$c['contact']}</td>

                <td>
                    <a href="{link editContact}?id={$p['id_contact']}" class="btn btn-warning">EDIT</a>
                </td>
                <td>
                    <form action="{link deleteContact}" method="post" onsubmit="return confirm('ARE YOU SURE?')">
                        <input type="hidden" name="id_contact" value="{$p['id_contact']}">
                        <input type="submit" class="btn btn-danger" value="DELETE">
                    </form>
                </td>
            </tr>
        {/foreach}
    </table>

{/block}