{extends layout.latte}

{block title}Add person{/block}

{block body}
    <form action="{link createPerson}" method="post">
        <label>First name*</label>
        <input type="text" name="fn" class="form-control"
               value="{$form['fn']}" required>
        <br>
        <label>Last name*</label>
        <input type="text" name="ln" class="form-control"
               value="{$form['ln']}" required>
        <br>
        <label>Nickname*</label>
        <input type="text" name="nn" class="form-control"
               value="{$form['nn']}" required>
        <br>
        <label>Birth day</label>
        <input type="date" name="bd" class="form-control"
               value="{$form['bd']}" placeholder="YYYY-MM-DD>
        <br>
        <label>Height</label>
        <input type="number" name="h" class="form-control"
               value="{$form['h']}">
        <br>
        <label>Gender</label>
        <select name="g" class="form-control">
            <option value="">Unknown</option>
            {if $form['g'] == 'male'}
                <option value="male" selected>Male</option>
            {else}
                <option value="male">Male</option>
            {/if}
            {if $form['g'] == 'female'}
                <option value="female" selected>Female</option>
            {else}
                <option value="female">Female</option>
            {/if}
        </select>
        <br>
        <button type="submit" class="btn btn-primary">
            <i class="fa fa-save"></i>
            Submit
        </button>
    </form>
{/block}