{extends layout.latte}

{block title}Add meeting{/block}

{block body}
    <div class="container">
        <h1>Add meeting</h1>
            <form action="{link createMeeting}" method="post">
                <label>Start</label>
                    <input type="datetime-local" name="start" class="form-control" value="{$form['start']}" required>
                <br>
                <label>Duration</label>
                <input type="time" name="duration" class="form-control" value="{$form['duration']}">
                <br>
                <label>Location</label>
                <select type="text" name="location" class="form-control" value="{$form['location']}">
                    <option value="">Unknown location</option>
                        {foreach $location as $l}
                            {if $l['id_location'] == $form['id_location']}
                                <option value="{$l['id_location']}" selected>
                            {$l['city']} {$l['street_name']} {$l['street_number']}
                                </option>
                            {else}
                                <option value="{$l['id_location']}">
                            {$l['city']} {$l['street_name']} {$l['street_number']}
                                </option>
                            {/if}
                        {/foreach}
                </select>
                <br>
                <input name="description" type="text" class="form-control" placeholder="Description" value="{$form['description']}"><br>

                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-save"></i>
                        SUBMIT
                </button>
    </form>
{/block}