{extends layout.latte}

{block title}Add person address{/block}

{block body}
    <form action="{link createPersonAddress}" method="post">
        <label>First name*</label>
        <input type="text" name="fn" class="form-control"
               value="{$form['fn']}" required>
        <br>
        <label>Last name*</label>
        <input type="text" name="ln" class="form-control"
               value="{$form['ln']}" required>
        <br>
        <label>Nickname*</label>
        <input type="text" name="nn" class="form-control"
               value="{$form['nn']}" required>
        <br>
        <label>Birth day</label>
        <input type="date" name="bd" class="form-control"
               value="{$form['bd']}" placeholder="YYYY-MM-DD">
        <br>
        <label>Height</label>
        <input type="number" name="h" class="form-control"
               value="{$form['h']}">
        <br>
        <label>Gender</label>
        <select name="g" class="form-control">
            <option value="">Unknown</option>
            {if $form['g'] == 'male'}
                <option value="male" selected>Male</option>
            {else}
                <option value="male">Male</option>
            {/if}
            {if $form['g'] == 'female'}
                <option value="female" selected>Female</option>
            {else}
                <option value="female">Female</option>
            {/if}
        </select>
        <br>

        <hr>

        <label>City</label>
        <input type="text" name="c" class="form-control"
               value="{$form['c']}">
        <br>

        <hr>

        <label>Address</label>
        <select name="id_location" class="form-control">
            <option value="">Unknown address</option>
            {foreach $locations as $l}
                {if $form['id_location'] == $l['id_location']}
                    <option value="{$l['id_location']}" selected>
                        {$l['city']}, {$l['street_name']} {$l['street_number']}
                    </option>
                {else}
                    <option value="{$l['id_location']}">
                        {$l['city']}, {$l['street_name']} {$l['street_number']}
                    </option>
                {/if}
            {/foreach}
        </select>

        <br>
        <button type="submit" class="btn btn-primary">
            <i class="fa fa-save"></i>
            Submit
        </button>
    </form>
{/block}