{extends layout.latte}

{block title}Add location{/block}

{block body}
    <h1>Add location</h1>
    <form method="post" action="{link createLocation}">

        <div class="form-group">
            <label>city</label>
            <input class="form-control" type="text" name="city" value="{$l['city']}">
        </div>
        <div class="form-group">
            <label>street name</label>
            <input class="form-control" type="text" name="street_name" value="{$l['street_name']}">
        </div>
        <div class="form-group">
            <label>street number *</label>
            <input class="form-control" type="text" name="street_number" value="{$l['street_number']}" required>
        </div>
        <div class="form-group">
            <label>ZIP</label>
            <input class="form-control" type="text" name="zip" value="{$l['zip']}">
        </div>
        <div class="form-group">
            <label>country</label>
            <input class="form-control" type="text" name="country" value="{$l['country']}">
        </div>
        <div class="form-group">
            <label>name</label>
            <input class="form-control" type="text" name="name" value="{$l['name']}">
        </div>
        <div class="form-group">
            <label>latitude *</label>
            <input class="form-control" type="text" name="latitude" value="{$l['latitude']}" required>
        </div>
        <div class="form-group">
            <label>longitude *</label>
            <input class="form-control" type="text" name="longitude" value="{$l['longitude']}" required>
        </div>
        <button class="btn btn-primary" type="submit">
            SUBMIT
        </button>

    </form>
{/block}
