{extends layout.latte}

{block title}Edit meeting{/block}

{block body}

    <div class="container">
        <h1>Edit meeting</h1>
        <a href="{link meeting}?id_meeting={$id_meeting}" class="btn btn-primary">
            {$id_meeting}
        </a>
        <form method="post" action="{link editMeeting}?id_meeting={$id_meeting}">
            <label>Start</label>
            <input type="datetime-local" class="form-control" name="start" value="{$form['start']}" required placeholder="YYYY-MM-DDTHH:MM">
            <br>
            <label>Duration</label>
            <input type="time" class="form-control" name="duration" value="{$form['duration']}">
            <br>
            <label>Description</label>
            <input type="text" class="form-control" name="description" value="{$form['description']}">
            <br>
            <label>Location *</label>
            <select name="id_location" class="form-control" required>

                {foreach $location as $l}
                    {if $l['id_location']} == {$form['id_location']}
                        <option value="{$l['id_location']}" selected>
                            {$l['city']} {$l['street_name']} {$l['street_number']}
                        </option>
                    {else}
                        <option value="{$l['id_location']}">
                            {$l['city']} {$l['street_name']} {$l['streetn_number']}
                        </option>
                   {/if}
                {/foreach}
            </select>
            <button type="submit" class="btn btn-primary">
                <a class="fa fa-save"></a>
                SUBMIT
            </button>
        </form>
    </div>
{/block}