{extends layout.latte}

{block title}Edit location{/block}

{block body}
    <h2>Edit location</h2>
    <form method="post" action="{link editLocation}?id_location={$id_location['id_location']}">
        <div class="form-group">
            <label>city</label>
            <input class="form-control" type="text" name="city" value="{$id_location['city']}" placeholder="Brno">
        </div>
        <div class="form-group">
            <label>street name</label>
            <input class="form-control" type="text" name="street_name" value="{$id_location['street_name']}" placeholder="Zemědělská">
        </div>
        <div class="form-group">
            <label>street number *</label>
            <input class="form-control" type="text" name="street_number" value="{$id_location['street_number']}" required placeholder="1">
        </div>
        <div class="form-group">
            <label>ZIP</label>
            <input class="form-control" type="text" name="zip" value="{$id_location['zip']}" placeholder="613 00">
        </div>
        <div class="form-group">
            <label>country</label>
            <input class="form-control" type="text" name="country" value="{$id_location['country']}" placeholder="Czech">
        </div>
        <div class="form-group">
            <label>name</label>
            <input class="form-control" type="text" name="name" value="{$id_location['name']}" placeholder="school">
        </div>
        <div class="form-group">
            <label>latitude *</label>
            <input class="form-control" type="text" name="latitude" value="{$id_location['latitude']}" required>
        </div>
        <div class="form-group">
            <label>longitude *</label>
            <input class="form-control" type="text" name="longitude" value="{$id_location['longitude']}" required>
        </div>
        <button class="btn btn-primary" type="submit">
            SUBMIT
        </button>

    </form>
{/block}
