{extends layout.latte}

{block title}Edit contact{/block}

{block body}
    {ifset $form['id_contact']}
    <form action="{link editContact}?id_contact={$id_contact}" method="post">

        <label>Contact</label>
        <input type="text" name="contact" palceholder="contact" value="{$form['contact']}" class="form-control" required>

        <label>Contact type</label>
        <select name="id_contact_type" class="form-control" required>
            {if $form['id_contact_type'] == '1'}
                <option value="1" selected>facebook</option>
            {else}
                <option value="1">facebook</option>
            {/if}
            {if $form['id_contact_type'] == '2'}
                <option value="2" selected>skype</option>
            {else}
                <option value="2">skype</option>
            {/if}
            {if $form['id_contact_type'] == '3'}
                <option value="3" selected>tel</option>
            {else}
                <option value="3">tel</option>
            {/if}
            {if $form['id_contact_type'] == '4'}
                <option value="4" selected>e-mail</option>
            {else}
                <option value="4">e-mail</option>
            {/if}
            {if $form['id_contact_type'] == '5'}
                <option value="5" selected>jabber</option>
            {else}
                <option value="5">jabber</option>
            {/if}
            {if $form['id_contact_type'] == '6'}
                <option value="6" selected>web</option>
            {else}
                <option value="6">web</option>
            {/if}
        </select>
        <br>
        <button type="submit" class="btn btn-primary">
            <i class="fa fa-save"></i>
            Submit
        </button>
    </form>
    {/ifset}
{/block}