{extends layout.latte}

{block title}Edit person{/block}

{block body}
    <div class="container">
        <h1>Edit person</h1>
        {ifset $warning}<p>{$warning}</p>{/ifset}

        {ifset $form['id_person']}
            <form method="post" action="{link edited}?id={$form['id_person']}">
            {*<form action="{link edited, [id => $form['id_person']]}" method="post">*}
                <div class="form-group">
                    <label for="first_name">First name*</label>
                    <input type="text" class="form-control" id="first_name" name="first_name" value="{$form ['first_name']}" required>
                </div>
                <div class="form-group">
                    <label for="last_name">Last name*</label>
                    <input type="text" class="form-control" id="last_name" name="last_name" value="{$form ['last_name']}" required>
                </div>
                <div class="form-group">
                    <label for="nickname">Nickname*</label>
                    <input type="text" class="form-control" id="nickname" name="nickname" value="{$form ['nickname']}" required>
                </div>
                <div class="form-group">
                    <label for="birth_day">Birth day</label>
                    <input type="text" class="form-control" id="birth_day" name="birth_day" value="{$form ['birth_day']}" pattern="[0-9]{l}4{r}-[0-9]{l}2{r}-[0-9]{l}2{r}" placeholder="YYYY-MM-DD">
                </div>
                <div class="form-group">
                    <label for="height">Height</label>
                    <input type="text" class="form-control" id="height" name="height" value="{$form ['height']}">
                </div>
                <input type="submit" class="btn btn-success" value="EDIT">
            </form>
            {/ifset}
    </div>
{/block}