<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8">
    <title>{include title}</title>
    <link rel="stylesheet" href="{$basePath}/css/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="{$basePath}/css/font-awesome/css/all.min.css">
    <link rel="stylesheet" href="{$basePath}/css/custom.css">
    <script type="text/javascript" src="{$basePath}/js/jquery.js"></script>
    <script type="text/javascript" src="{$basePath}/css/bootstrap/js/bootstrap.bundle.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {ifset meta}{include meta}{/ifset}
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{link index}">Persons list</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">

            <li class="nav-item">
                <a class="nav-link" href="{link createPersonAddress}">
                    Add person
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{link meeting}">
                    Meeting
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{link createMeeting}">
                    Add Meeting
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{link location}">
                    Location
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{link contact}">
                    Contact
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{link createContact}">
                    Add contact
                </a>
            </li>
            {*}<li class="nav-item">
                <a class="nav-link" href="{link createLocation}">
                    Add location
                </a>
            </li>{*}

        </ul>
    </div>
</nav>

<div class="container">

    <br>

    {if isset($error)}
        <p class="alert alert-danger">
            {$error}
        </p>
    {/if}

    {include body}
</div>

</body>
</html>