{extends layout.latte}

{block title}Location{/block}

{block body}
    <h1>Locations</h1>
        <a class="btn btn-success" href="{link createLocation}">
            Create location
        </a>
    <table class="table">
        <tr>
            <th>name</th>
            <th>street name</th>
            <th>street number</th>
            <th>city</th>
            <th>country</th>
            <th>zip</th>
            <th>longitude</th>
            <th>latitude</th>
        </tr>
        {foreach $locations as $l}
            <tr>
                <td>{$l['name']}</td>
                <td>{$l['street_name']}</td>
                <td>{$l['street_number']}</td>
                <td>{$l['city']}</td>
                <td>{$l['country']}</td>
                <td>{$l['zip']}</td>
                <td>{$l['latitude']}</td>
                <td>{$l['longitude']}</td>
                <td>
                    <a href="{link editLocation}?id_location={$l['id_location']}" class="btn btn-warning">EDIT</a>
                </td>
                <td>
                    <form action="{link locationDelete}?id_location={$l['id_location']}" method="post" onsubmit="return confirm('ARE YOU SURE?')">
                        <input type="submit" class="btn btn-danger" value="DELETE">
                    </form>
                </td>
            </tr>
        {/foreach}
    </table>
{/block}