{extends layout.latte}

{block title}Meeting info{/block}

{block body}

    <div class="container">
        <h1>Meeting {$meeting['id_meeting']}</h1>

                    <a href="{link addPersonMeeting}?id_meeting={$meeting['id_meeting']}"
                       class="btn btn-primary">
                        Add people
                    </a>

        <table>
            <tr>
                <td>Start</td>
                <td class="form-control">
                    {$meeting['start']}
                </td>
            </tr>
            <tr>
                <td>Duration</td>
                <td class="form-control">
                    {$meeting['duration']}
                </td>
            </tr>
            <tr>
                <td>Location</td>
                <td class="form-control">
                    {$location}
                </td>
            </tr>
            <tr>
                <td>Description</td>
                <td class="form-control">
                    {$meeting['description']}
                </td>
            </tr>
        </table>

        <table>
            {foreach $people as $p}
                <tr>
                    {*<td>
                        <a href="{link individual}?id={$p['id_person']}" class="btn btn-primary">
                            {$p['nickname']}
                        </a>
                    </td>*}
                    <td>
                        <form method="post"
                              action="{link deleteFromMeeting}?id_meeting={$meeting['id_meeting']}&id={$p['id_person']}">
                            <button type="submit" class="btn btn-danger">
                                <i class="fa fa-edit"></i>
                                DELETE
                            </button>
                        </form>
                    </td>
                </tr>
            {/foreach}
        </table>
    </div>

{/block}