{extends layout.latte}

{block title}Meeting{/block}

{block body}
    {*<form action="{link meeting}">*}
    <hr>
    <table class="table table-striped">
    <tr>
        <th>Start</th>
        <th>Duration</th>
        {*<th>Location</th>*}
        <th>Description</th>
        <th>EDIT</th>
        <th>DELETE</th>
    </tr>
    {foreach $meeting as $m}
        <tr>
            {*<td>
                <a href="{link meetingInfo}?id_meeting={$m['id_meeting']}" class="btn btn-success">
                    {$m['id_meeting']}
                </a>
            </td>*}
            <td>{$m['start']}</td>
            <td>{$m['duration']}</td>
            <td>{$m['description']}</td>

            {*}<td>{foreach $location as $l}
                    {if $l['id_location'] == $m['id_location']}
                    {$l['city']} {$l['street_name']} {$l['street_number']}
                    {/if}
                {/foreach}
            </td>{*}
            <td>
                <a href="{link editMeeting}?id={$m['id_meeting']}" class="btn btn-warning">EDIT</a>
            </td>
            <td>
                <form action="{link deleteMeeting}?id_meeting={$m['id_meeting']}" method="post" onsubmit="return confirm('ARE YOU SURE?')">
                    <input type="submit" class="btn btn-danger" value="DELETE">
                </form>
            </td>
            <td>
                <a href="{link addPersonMeeting}?id_meeting={$m['id_meeting']}" class="btn btn-warning">ADD PERSON</a>

            </td>
            {*}<td>
                <a href="{link personsMeeting}?id_meeting={$m['id_meeting']}" class="btn btn-primary">PERSONS</a>
            </td>{*}
        </tr>
    {/foreach}
    </table>
        {*</form>*}
{/block}