{extends layout.latte}

{block title}Persons{/block}

{block body}

    <form action="{link index}">

        <div class="row">
            <div class="offset-7 col-3">

                <input type="text" name="search" class="form-control">

            </div>
            <div class="col-2">

                <button type="submit" class="btn btn-primary btn-block">
                    <i class="fa fa-search"></i>
                    SEARCH
                </button>

            </div>
        </div>

    </form>

    <hr>

    <table class="table table-striped">
        <tr>
            <th>NAME</th>
            <th>NICKNAME</th>
            <th>GENDER</th>
            <th>HEIGHT</th>
            <th>BIRTH DAY</th>
            <th>ADDRESS</th>
            <th>NUMBER OF CONTACTS</th>
            <th>NUMBER OF MEETINGS</th>
            <th>EDIT</th>
            <th>DELETE</th>
        </tr>
    {foreach $persons as $p}
        <tr>
            <td>{$p['first_name']} {$p['last_name']}</td>
            <td>{$p['nickname']}</td>
            <td class="gender">{$p['gender']}</td>
            <td>{$p['height']}</td>
            <td>{$p['birth_day']}</td>
            <td>
                {if $p['city']}
                    {$p['street_name']} {$p['street_number']}, {$p['city']}
                {/if}
            </td>
            <td>
                {$p['cnt_contact']}
            </td>
            <td>
                {$p['cnt_meeting']}
            </td>
            <td>
                <a href="{link edit}?id={$p['id_person']}" class="btn btn-warning">EDIT</a>
            </td>
            <td>
                <form action="{link delete}" method="post" onsubmit="return confirm('ARE YOU SURE?')">
                    <input type="hidden" name="id_person" value="{$p['id_person']}">
                    <input type="submit" class="btn btn-danger" value="DELETE">
                </form>
            </td>
        </tr>
    {/foreach}
    </table>

{/block}